{% block about %}
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">A propos</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Après 9 ans d'expérience dans les réseaux et télécommunication, je me suis lancé dans l'aventure du développement d'applications. D'abord centre d'intérêt, devenu passion. Vous pouvez me contacter pour n'importe quel type de projet !</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">Site web, application, votre projet sera le mien. Du plus simple, jusqu'a hors du commun, l'aventure commence ensemble.</p></div>
            </div>
            <div class="container d-flex align-items-center flex-column">
                <div class="row d-flex align-items-center flex-column">
                    <a href="public/ressources/CV.pdf" target="_blank" class="btn btn-secondary mb-3" download="CV.pdf">Télécharger mon CV</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}